<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="tit">
          From Gimpo Airport
          <img src="/assets/img/ico_direction01.gif" alt="" /> <br /><a
            href="http://www.airport.co.kr/gimpoeng/main.do"
            class="webb"
            target="_blank"
            >http://www.airport.co.kr/gimpoeng/main.do</a
          >
        </div>
        <div class="sub2">
          <span class="b">CALT Limousine Bus</span> (City Airport, Logis &amp;
          Travel, Korea) &nbsp;<strong
            ><a
              href="http://www.calt.co.kr/common/common.do?jsp_path=user/eng/trans/route_6104&menu_id=trans_0204"
              target="_blank"
              >web site</a
            ></strong
          >
        </div>
        <div class="tbl_b">
          <table border="1" summary="Location" class="tbl_type2">
            <colgroup>
              <col width="30%x" />
              <col width="" />
            </colgroup>
            <tbody>
              <tr>
                <th scope="row" class="air">Time to destination</th>
                <td>Approximately 45 ~ 55 minutes (approximately 35Km)</td>
              </tr>
              <tr>
                <th scope="row" class="air">Single fare</th>
                <td>7,500 won (adults)/ 5,000 won (Child)</td>
              </tr>
              <tr>
                <th scope="row" class="air">Bus stops</th>
                <td>
                  <strong>Gimpo Airport (1F)</strong><br />
                  * Domestic Arrivals: Platform 3 <br />
                  * International Arrivals: Platform 6
                </td>
              </tr>
              <tr>
                <th scope="row" class="air">Where to buy tickets</th>
                <td>CALT Limousine Bus stops</td>
              </tr>
              <tr>
                <th scope="row" class="air">Telephone</th>
                <td>
                  <a href="tel:+82-2-551-0790" class="webb">+82-2-551-0790,2</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p></p>
        <div class="sub2"><span class="b">Via Taxi</span></div>
        <div class="tbl_b">
          <table border="1" summary="Location" class="tbl_type2">
            <colgroup>
              <col width="30%x" />
              <col width="" />
            </colgroup>
            <tbody>
              <tr>
                <th scope="row" class="air">Time to destination</th>
                <td>Approximately 50 minutes</td>
              </tr>
              <tr>
                <th scope="row" class="air">Single fare</th>
                <td>50,000won (normal taxi), 90,000 won (luxury taxi)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
