<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="sub">
          <span class="b"
            >Use gates 1-5 for Coex parking. Department Store and hotel
            visitors, please use the respective, designatd parking lots.</span
          >
        </div>
        <div class="sub_tab">
          <a href="/html/transportation_driving_gangnamstation.html"
            ><span class="box_off">From Gangnam Station</span></a
          >
          <a href="/html/transportation_driving_daechidong.html"
            ><span class="box_off">From Daechi-dong</span></a
          >
          <a href="/html/transportation_driving_jamsilstation.html"
            ><span class="box_off">From Jamsil Station</span></a
          >
          <a href="/html/transportation_driving_busterminal1.html"
            ><span class="box_off">From Gangnam Express Bus Terminal ①</span></a
          >
          <a href="/html/transportation_driving_busterminal2.html"
            ><span class="box_off">From Gangnam Express Bus Terminal ②</span></a
          >
          <a href="/html/transportation_driving_bridge1.html"
            ><span class="box_off">From Yeongdongdaegyo Bridge ①</span></a
          >
          <a href="/html/transportation_driving_bridge2.html"
            ><span class="box_off">From Yeongdongdaegyo Bridge ②</span></a
          >
          <a href="/html/transportation_driving_capitalarea.html"
            ><span class="box_off">Capital Area</span></a
          >
          <a href="/html/transportation_driving_otherregions.html"
            ><span class="box_off">From other regions</span></a
          >
        </div>
        <div class="icon">
          <img src="/assets/img/driving01.png" alt="tour" width="100%" />
        </div>
        <div class="tbl_b">
          <table
            cellspacing="0"
            border="1"
            summary="Location"
            class="tbl_type2"
          >
            <colgroup>
              <col width="40%x" />
              <col width="" />
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">From Gangnam Station</th>
                <td>
                  <p>1. Take Teheran Road to Samseong dong</p>
                  <p>
                    2. Turn left in front of Hyundai Department Store at
                    Samseong Station intersection
                  </p>
                  <p>
                    3. Access the parking lot 500m ahead in the basement or
                    rooftop through GATE3 on the right side
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
