<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="tit">Who we are</div>
        <div class="sub">
          The CardioVascular Research Foundation (CVRF) is a non-profit clinical
          research foundation that seeks to contribute in improving the lives of
          patients with cardiovascular disease by promoting preclinical and
          clinical researches, educating physicians and teaching patients.
        </div>
        <p></p>
        <div class="tit">What we’ve done</div>
        <div class="sub">
          Since its establishment in 2002 and its affiliation with the Heart
          Institute of Asan Medical Center. CVRF has been conducting and
          supporting a large number of outstanding clinical researches to help
          conquer cardiovascular disease through Data Coordinating Center, QCA
          (Quantitative Coronary Angiographic) and IVUS (Intravascular
          Ultrasound) Core Laboratories based on internationally standardized
          clinical research centers. The foundation has been also sharing
          cutting edge knowledge and educating physicians and other
          professionals by holding international conferences and training
          programs.
        </div>
        <p></p>
        <div class="tit">What we will do</div>
        <div class="sub">
          The CVRF will do its best to develop innovative technologies and
          educate professionals and the public related to the cardiovascular
          field through its vast experience and knowledge obtained by ongoing
          research activities, scientific conferences, educative websites and
          various training programs. By achieving these goals, the CVRF is
          dedicated to increase the survival rate and the quality of life for
          patients who suffer from cardiovascular disease.
        </div>
        <p></p>
        <div class="tit">CVRF's Meetings</div>
        <div class="icon">
          <a href="http://www.ap-valves.com/"
            ><img src="/assets/img/img_cvrf01.jpg" alt="cvrf" width="100%"
          /></a>
        </div>
        <div class="icon">
          <a href="http://www.complex-pci.com/"
            ><img src="/assets/img/img_cvrf02.jpg" alt="cvrf" width="100%"
          /></a>
        </div>
        <div class="icon">
          <a href="http://www.cvrf.org/act/"
            ><img src="/assets/img/img_cvrf03.jpg" alt="cvrf" width="100%"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
