<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="tit2">About Korea</div>
        <div class="sub">
          The Republic of Korea (herein after Korea) is a country visited by
          approximately ten million international travelers every year. With its
          long history in culture and tradition, the country has a lot to offer
          to travelers.
        </div>
        <p></p>
        <div class="tit2">About Seoul</div>
        <div class="tit3">Korea’s most representative city, Seoul</div>
        <div class="sub">
          <p>
            Seoul is the cultural center of Korea with five ancient palaces and
            five World Heritage Sites designated by UNESCO; over 700 museums,
            including the National Museum of Korea and the National Folk Museum;
            and hundreds of performance centers and galleries.
          </p>
          <br />

          <p>
            With five ancient palaces and five World Heritage Sites designated
            by UNESCO, Seoul is the living history of the Joseon Dynasty.
            Experience life in the past at the Bukchon Hanok (traditional Korean
            houses) Village, traditional arts performances or with traditional
            Korean food.
          </p>
          <br />

          <p>
            History and tradition is not the only thing that Seoul has to offer.
            Seoul also embraces modern era with a strong foundation of high-tech
            technology and infastructure and a number of world class
            performances like "NANTA", "JUMP", and B-boy performances.
          </p>
          <br />

          <p>
            Seoul is now one of the largest economies in the world and has
            become a center of economics and culture in Asia.<br />
            The city is now pursues various policies to help preserve the
            environment such as using green vehicles and developing and
            preserving natural parks and trails within the city.
          </p>
        </div>
        <p></p>

        <div class="tit2">Sponsors</div>
        <div class="icon">
          <a href="http://www.visitkorea.or.kr/"
            ><img src="/assets/img/Korea_CI_Eng.jpg" alt="cvrf" width="100%"
          /></a>
        </div>
        <div class="icon">
          <a href="http://www.visitseoul.net/"
            ><img src="/assets/img/Seoul_CI_Eng.jpg" alt="cvrf" width="100%"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
