<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="icon">
          <img src="/assets/img/bus.jpg" alt="tour" width="100%" />
        </div>
        <div class="tbl_b">
          <table border="1" summary="Location" class="tbl_type2">
            <colgroup>
              <col width="45%x" />
              <col width="30%" />
              <col width="45%" />
            </colgroup>
            <tbody>
              <tr>
                <th>1. City Airport</th>
                <td class="air">Airport BUS</td>
                <td>
                  CALT Limousine 6103(incheon Airport), 6104(Gimpo Airport)
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th rowspan="6" scope="row">
                  2. Grand Intercontinental Hotel <br />(Samseong Station Exit
                  5) | 23201 Station
                </th>
                <td class="blue">Blue</td>
                <td>
                  146, 341, 360, 333, 740, N13(Late-night), N61(Late-night)
                </td>
              </tr>
              <tr>
                <td class="green">Green</td>
                <td>6411</td>
              </tr>
              <tr>
                <td class="yellow">Yellow</td>
                <td>41</td>
              </tr>
              <tr>
                <td class="red">Express Bus</td>
                <td>1100, 1700, 2000, 2000-1, 7007, 8001, 9414</td>
              </tr>
              <tr>
                <td class="air">Airport BUS</td>
                <td>6000</td>
              </tr>
              <tr>
                <td class="bus">District Bus</td>
                <td>Gangnam07, Gangnam05</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th rowspan="5" scope="row">
                  3. Coex Artium <br />(Trade Center) | 23199 Station
                </th>
                <td class="blue">Blue</td>
                <td>143</td>
              </tr>
              <tr>
                <td class="green">Green</td>
                <td>2413, 4419</td>
              </tr>
              <tr>
                <td class="red">Express Bus</td>
                <td>9407, 9414, 9507, 9607</td>
              </tr>
              <tr>
                <td class="air">Airport BUS</td>
                <td>City Airport</td>
              </tr>
              <tr>
                <td class="bus">District Bus</td>
                <td>Gangnam01, Gangnam06, Gangnam08</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th rowspan="5" scope="row">
                  4. Coex East Gate <br />
                  23198 Station
                </th>
                <td class="blue">Blue</td>
                <td>146, 301, 401, 351, 352, N61(Late-night)</td>
              </tr>
              <tr>
                <td class="green">Green</td>
                <td>2415, 3217, 3411, 3412, 3414, 4318</td>
              </tr>
              <tr>
                <td class="red">Express Bus</td>
                <td>9407, 9414, 9507, 9607</td>
              </tr>
              <tr>
                <td class="air">Airport BUS</td>
                <td>6006</td>
              </tr>
              <tr>
                <td class="bus">District Bus</td>
                <td>Gangnam08</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th rowspan="2" scope="row">
                  5. Opposite side of Bongeun Temple <br />
                  23191 Station
                </th>
                <td class="blue">Blue</td>
                <td>351</td>
              </tr>
              <tr>
                <td class="green">Green</td>
                <td>3411, 3412</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th rowspan="3" scope="row">
                  6. Korea Electric Power Corporation <br />(Samseong Station
                  exit 7) | 23197 Station
                </th>
                <td class="blue">Blue</td>
                <td>143, 146, 301, 401, 351, 352, N61(Late-night)</td>
              </tr>
              <tr>
                <td class="green">Green</td>
                <td>2413, 2415, 3217, 3412, 3414, 3417, 4419, 4318</td>
              </tr>
              <tr>
                <td class="air">Airport BUS</td>
                <td>City Airport, City Airport2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
