<section class="body_contentsArea back_gray">
  <dl class="list_default">
    <dt class="list_item">
      <a class="fulllink" routerLink="/meetingInformation/transportation/car"
        ><span class="title">Driving</span></a
      >
    </dt>
    <dt class="list_item">
      <a class="fulllink" routerLink="/meetingInformation/transportation/subway"
        ><span class="title">Subway</span></a
      >
    </dt>
    <dt class="list_item">
      <a class="fulllink" routerLink="/meetingInformation/transportation/bus"
        ><span class="title">Bus</span></a
      >
    </dt>
    <dt class="list_item">
      <a
        class="fulllink"
        routerLink="/meetingInformation/transportation/airport"
        ><span class="title">Airport</span></a
      >
    </dt>
  </dl>
</section>
