<section class="body_contentsArea back_gray">
  <dl class="list_default">
    <dt class="list_item addRight">
      <a class="full" routerLink="/meetingInformation/transportation/car"
        >Car</a
      >
    </dt>
    <dt class="list_item addRight">
      <a class="full" routerLink="/meetingInformation/transportation/subway"
        >Subway</a
      >
    </dt>
    <dt class="list_item addRight">
      <a class="full" routerLink="/meetingInformation/transportation/bus"
        >Bus</a
      >
    </dt>
    <dt class="list_item addRight">
      <a class="full" routerLink="/meetingInformation/transportation/airport"
        >Airport</a
      >
    </dt>
  </dl>
</section>
