<section class="body_contentsArea back_gray" *ngIf="show">
  <div class="info_detail">
    <ul class="styleList">
      <li>
        <div class="addLeft">
          <span class="photo"><img src="{{ faculty.profile_url }}"/></span>
        </div>
        <a href="#" class="mail">send mail</a>
        <button type="button" class="bookmark">bookmark</button>
        <!--<button type="button" class="bookmark on">bookmark</button>-->
      </li>
      <li>
        <em class="bigTitle">{{ faculty.name }}</em>
        <p class="subtxt">{{ faculty.organization }}</p>
        <p class="subtxt">{{ faculty.nation }}</p>
      </li>
    </ul>
  </div>
  <div class="group_whiteBox">
    <dl>
      <dt><span class="tit">SESSION</span></dt>
      <dd>
        <ul
          class="styleBox fewLine"
          *ngIf="
            faculty && faculty.session_list && faculty.session_list.length > 0
          "
        >
          <li *ngFor="let session of faculty.session_list">
            <a routerLink="/programs/{{ session.id }}" class="full">
              <span class="title">{{ session.name }}</span>
              <p class="info time">
                {{ session.start_time | date: 'EE dd MMMM, hh:mma' }} ~
                {{ session.end_time | date: 'hh:mma' }}
              </p>
            </a>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
  <div
    *ngIf="
      !faculty || !faculty.session_list || faculty.session_list.length <= 0
    "
  >
    No results found
  </div>
</section>
