<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
        <div class="cont">
              <div class="tit3">ACT TOUR (2 Hours)</div>
              <div class="sub">(Asan Medical Center Interventional Cardiology Training Program)</div>
              <div class="sub">
                On-site registration &amp; Pick-up Place:<br>
          <strong>ACT Banner next to CVRF Booth, Grand Ballroom Lobby, Level</strong><br>
          </div>
              <div class="tbl_b">
               <table border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="35%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="50%" scope="col" abbr="Date">Date</th>
                              <th width="50%" scope="col" abbr="Departure Time">Departure Time</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td rowspan="2" class="view">Monday, April 30</td>
                              <td class="view">10:00 AM</td>
                          </tr>
                          <tr>
                            <td class="view">4:00 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /ACT TOUR  -->
  
              <div class="tit3">Book Booth</div>
              <div class="sub"><strong>Booth no. B31, Exhibition (B2) Hall, Level 1</strong></div>
              <p></p>
  
              <div class="tit3">Certificate of Attendance</div>
              <div class="sub">Certificate of Attendance for TCTAP 2018 will be distributed along with the badge.</div>
              <p></p>
  
              <div class="tit3">Coffee and Tea</div>
              <div class="sub">During the coffee breaks, coffee and tea will be served to the registered participants at session rooms of level 1 and exhibition (B2) hall, only wearing their badge.</div>
              <p></p>
  
              <!-- /Coffee and Tea  -->
  
              <div class="tit3">CVRF (Organizing Secretariat)</div>
        <div class="sub"><strong>CVRF Booth, Grand Ballroom Lobby, Level 1</strong></div>
              <div class="tbl_b">
               <table  border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="40%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="40%" scope="col" abbr="Date">Date</th>
                              <th width="60%" scope="col" abbr="Section">Opening Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Saturday, April 28</td>
                              <td class="view">10:00 AM - 5:20 PM</td>
                          </tr>
                          <tr>
                              <td class="view">Sunday, April 29 ~<br />Tuesday, May 1</td>
                              <td class="view">6:00 AM - 6:10 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /CVRF (Organizing Secretariat)  -->
  
              <div class="tit3">Cyber Station / Free Mobile Recharge</div>
              <div class="sub">
          <strong>CVRF Booth, Grand Ballroom Lobby, Level 1</strong><br>
          <strong>Registration Lounge, Exhibition (B2) Hall Lobby, Level 1</strong>
              </div>
              <p></p>
              <!-- /Cyber Station  -->
  
              <div class="tit3">Daily Newspaper</div>
              <div class="sub">Each daily news edition will be distributed in the morning at the pick-up desk located right besides escalators, Level 1 and also available through TCTAP 2018 Mobile App.</div>
              <p></p>
  
  
        <div class="tit3">Events</div>
        <div class="sub"><b>CVRF Events “You are the next TCTAP history”</b></div>
        <div class="sub">
          Find out who is the part of the TCTAP and have special moment with us<br>
          Take a picture and be recorded in TCTAP's history<br>
          Grab this chance to part of TCTAP and get a special gift!<br>
        </div>
        <p></p>
        <div class="sub"><b>Exhibition Event “Visit 5 Exhbition Booths &amp; Get 5 Logos!”</b></div>
        <div class="sub">
          * Running Hours: 9:00 AM ~ 3:00 PM<br>
          * Event paper will be provided at the registration booth and Lucky Draw Box will be located in front of Event Screen (Exhibition Hall, Level 1)<br>
          * Winner announcement: Every 3:30 PM, during the Exhibition<br>
        </div>
        <p></p>
        <div class="sub"><b>Traditional Culture Experience</b></div>
        <div class="sub">
          <strong>Seoul Promotional Booth, Level 1, Grand Ballroom Lobby</strong><br><br>
          * Operated by Seoul Metropolitan Government<br>
          * Opening Date: April 28 - May 1<br>
          * Opening Hours<br>
          <b>April 28:</b> 10:00 AM - 12:00 PM / 1:00 PM - 5:10 PM<br>
          <b>April 29 - May 1:</b> 9:00 AM - 12:00 PM / 1:00 PM - 6:00 PM<br><br>
          Experience Hanbok (traditional Korean attire) and enjoy traditional Korean Culture!<br>
          Take a picture dressed as a traditional King and Queen of Korea
        </div>
        <div class="sub"><img src="/assets/img/seoul.png" alt="Traditional Culture Experience" width="70%"></div>
        <p></p>
              <!-- /Events  -->
  
              <div class="tit3">Exhibition</div>
              <div class="sub"><strong>Exhibition (B2) Hall, Level 1</strong></div>
              <div class="tbl_b">
               <table border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="50%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="50%" scope="col" abbr="Date">Date</th>
                              <th width="50%" scope="col" abbr="Section">Opening Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Sunday, April 29 ~<br/>Tuesday, May 1</td>
                              <td class="view">9:00 AM - 6:00 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /Exhibition  -->
  
              <div class="tit3">Faculty Lounge</div>
              <div class="sub">
          Invited Faculty Lounge:<br>
          <strong>Room 203, Level 2</strong><br/>
          Faculty of the Year Lounge:<br>
          <strong>Exhibition (B2) Hall Lobby, Level 1</strong>
        </div>
              <div class="tbl_b">
               <table border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="40%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="40%" scope="col" abbr="Date">Date</th>
                              <th width="60%" scope="col" abbr="Section">Opening Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Saturday, April 28</td>
                              <td class="view">10:00 AM - 5:20 PM</td>
                          </tr>
                          <tr>
                              <td class="view">Sunday, April 29 ~<br />Tuesday, May 1</td>
                              <td class="view">6:00 AM - 6:10 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <div class="sub">※ Badges will be checked at the gate.</div>
              <p></p>
              <!-- /Faculty  -->
  
              <div class="tit3">Future Meeting Desk</div>
              <div class="sub"><strong>Exhibition (B2) Hall Lobby, Level 1</strong></div>
              <p></p>
              <!-- /Future Meeting Desk  -->
  
              <div class="tit3">Happy Hour</div>
              <div class="sub"><strong>Lounge, Exhibition (B2) Hall, Level 1</strong></div>
        <div class="sub">Snacks are provided during the running hours.</div>
              <div class="tbl_b">
               <table border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="50%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="50%" scope="col" abbr="Date">Date</th>
                              <th width="50%" scope="col" abbr="Section">Running Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Sunday, April 29</td>
                              <td class="view">11:00 AM, 3:00 PM</td>
                          </tr>
                          <tr>
                              <td class="view">SMonday, Apri 30</td>
                              <td class="view">3:00 PM</td>
                          </tr>
                          <tr>
                              <td class="view">Tuesday, May 1</td>
                              <td class="view">10:00 AM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /Happy Hour-->
  
  
              <div class="tit3">Information Desk</div>
              <div class="sub">
                <strong>CVRF Booth, Grand Ballroom Lobby, Level 1</strong><br>
                <strong>Registration Booth, Exhibition (B2) Hall Lobby, Level 1</strong>
            </div>
              <div class="sub">If you have any problems or queries, please visit the information desk.</div>
              <p></p>
              <!-- /Information Desk  -->
  
  
              <div class="tit3">Learning Center</div>
              <div class="sub">
                <strong>Exhibition (B2) Hall, Level 1</strong><br>
            </div>
              <p></p>
              <!-- /Lost and Found/ Coat Room -->
  
              <div class="tit3">Meal</div>
              <div class="sub">All satellite symposia provide meals to attendees. Please ensure that you wear your badge at all times.</div>
              <p></p>
              <!-- /Meal-->
  
              <div class="tit3">Parking Ticket</div>
              <div class="sub"><strong>Registration Booth, Exhibition (B2) Hall Lobby, Level 1</strong></div>
              <div class="sub">Free Parking tickets are provided in a limited quantity on a first-come-first-served basis. After free parking tickets are exhausted, participants can purchase one-day parking permit at 50% discounted rate.</div>
              <p></p>
              <!-- /Parking Coupon -->
  
              <div class="tit3">Prayer Room</div>
              <div class="sub"><strong>Room 204, Level 2</strong></div>
              <div class="tbl_b">
               <table  border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="50%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="50%" scope="col" abbr="Date">Date</th>
                              <th width="50%" scope="col" abbr="Section">Opening Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Saturday, April 289</td>
                              <td class="view">10:00 AM - 5:20 PM</td>
                          </tr>
                          <tr>
                              <td class="view">Sunday, April 29 ~<br/>Tuesday, May 1</td>
                              <td class="view">6:00 AM - 6:10 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /Prayer Room -->
  
              <div class="tit3">Preview Room</div>
              <div class="sub"><strong>Room 209, Level 2</strong></div>
              <div class="sub">All speakers should come at least 2 hours before presentation to upload and review their slides.</div>
              <div class="tbl_b">
               <table  border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="40%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="40%" scope="col" abbr="Date">Date</th>
                              <th width="60%" scope="col" abbr="Section">Opening Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Saturday, April 28</td>
                              <td class="view">10:00 AM - 5:20 PM</td>
                          </tr>
                          <tr>
                              <td class="view">Sunday, April 29 ~<br />Tuesday, May 1</td>
                              <td class="view">6:00 AM - 6:10 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /Preview Room -->
  
              <div class="tit3">Public Lounge</div>
              <div class="sub">
                <strong>CVRF Booth, Grand Ballroom Lobby, Level 1</strong><br>
                <strong>Lounge, Exhibition (B2) Hall, Level 1</strong><br>
                <strong>Lounge next to Registration Booth, Exhibition (B2) Hall Lobby, Level 1</strong><br>
                <strong>Lounge, Main Arena (Auditorium) Lobby, Level 3</strong>
            </div>
              <p></p>
              <!-- /Public Lounge -->
  
              <div class="tit3">Registration / Lost and Found / Coat Room</div>
              <div class="sub"><strong>Registration Booth, Exhibition (B2) Hall Lobby, Level 1</strong></div>
              <div class="tbl_b">
               <table  border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="40%x"/><col width=""/>
                  </colgroup>
                      <thead>
                          <tr>
                              <th width="40%" scope="col" abbr="Date">Date</th>
                              <th width="60%" scope="col" abbr="Section">Opening Hours</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="view">Saturday, April 28</td>
                              <td class="view">10:00 AM - 5:20 PM</td>
                          </tr>
                          <tr>
                              <td class="view">Sunday, April 29 ~<br />Tuesday, May 1</td>
                              <td class="view">6:00 AM - 6:10 PM</td>
                          </tr>
                      </tbody>
                </table>
            </div>
              <p></p>
              <!-- /Registration -->
  
              <div class="tit3">Shuttle Bus </div>
              <div class="sub">Free shuttle bus will be provided between COEX and several venue hotels. Visit the CVRF Booth for more information.</div>
              <p></p>
              <!-- /Shuttle Bus -->
  
              <div class="tit3">WiFi Zone</div>
              <div class="sub">Free Wi-Fi is available in designated areas as following. </div>
        <div class="tbl_b">
        <table  border="1" summary="Time Schedule" class="tbl_type">
          <colgroup>
          <col width="20%x"/><col width=""/><col width=""/>
                  </colgroup>
                      <tbody>
                          <tr>
                              <td class="view">Level 1</td>
                              <td class="view">
                Endovascular &amp; Valve Theater<br />
                CTO &amp; Coronary Theater <br />
                Room 104, Room 105<br />
                Grand Ballroom Lobby<br />
                CVRF Booth<br />
                Exhibition (B2) Hall<br />
                Faculty of the Year Lounge<br />
                Registration Booth
                </td>
                          </tr>
                          <tr>
                              <td class="view">Level 2</td>
                              <td class="view">
                Invited Faculty Lounge<br>
                Preview Room
                </td>
                          </tr>
                      </tbody>
              </table>
        </div>
  
        <p></p>
        <!-- /Wifi Guide -->
        <div class="tit3">Sponsored by</div>
              <div class="sub">
              <p>
                <a href="http://www.cvrf.org" ><img src="/assets/img/CVRF.jpg"  alt="CVRF" width='27%'></a> &nbsp;
                <a href="http://www.amc.seoul.kr" ><img src="/assets/img/AMC.png"  alt="AMC" width='65%'></a></p>
              </div>
  
      </div>
    </div>
  </div>
  </section>