<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="sub">
          <span class="b">You can fine a description of Seoul's subway at:</span
          >&nbsp;<strong
            ><a
              href="http://www.seoulmetro.co.kr/en/cyberStation.do?menuIdx=337"
              target="_blank"
              >web site</a
            ></strong
          >
        </div>
        <div class="sub_tab">
          <a href="/html/transportation_subway_2samseongstation.html"
            ><span class="box_off">Line No.2 Samseong Station</span></a
          >
          <a href="/html/transportation_subway_9bongeunsastation.html"
            ><span class="box_off">Line No.9 Bongeunsa Station</span></a
          >
          <a href="/html/transportation_subway_7cheongdamstation.html"
            ><span class="box_off">Line No.7 Cheongdam Station</span></a
          >
        </div>
        <div class="icon">
          <img src="/assets/img/subway01.png" alt="tour" width="100%" />
        </div>
        <div class="tbl_b">
          <table border="1" summary="Location" class="tbl_type2">
            <colgroup>
              <col width="40%x" />
              <col width="" />
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">Line No.2 Samseong Station</th>
                <td>
                  Use the passage directly connected from exit 5 or 6 to Coex
                  mall through the Millennium Plaza
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
