<nav class="bottom_tabArea navbar navbar-default navbar-fixed-bottom">
  <ul class="align_between">
    <li class="home" routerLinkActive="on"><a routerLink="/main">Home</a></li>
    <li class="program" routerLinkActive="on">
      <a routerLink="/program/list">Program</a>
    </li>
    <li class="search" routerLinkActive="on"><a>Search</a></li>
    <li class="schedule" routerLinkActive="on"><a>Schedule</a></li>
    <li class="more" routerLinkActive="on"><a routerLink="/more">More</a></li>
  </ul>
</nav>
