<section class="body_contentsArea back_gray" *ngIf="sponsor">
  <div class="state_view">
    <div class="title_inline">
      <p class="tit">{{ sponsor.name }}</p>
      <button
        class="booth"
        *ngIf="sponsor && sponsor.booth"
        routerLink="{{ sponsor.booth }}"
      >
        {{ sponsor.booth }}
      </button>
      <button type="button" class="bookmark">bookmark</button>
    </div>
  </div>
  <div class="group_whiteBox">
    <p class="paragraph_blue" *ngIf="sponsor.description">
      COMPANY DESCRIPTION
    </p>
    <div>{{ sponsor.description }}</div>
  </div>
  <div
    class="group_whiteBox"
    *ngIf="sponsor && sponsor.session_list && sponsor.session_list.length > 0"
  >
    <p class="paragraph_blue">SPONSORED SESSION</p>
    <ul class="styleBox">
      <li *ngFor="let session of sponsor.session_list">
        <a class="full" routerLink="/programs/{{ session.id }}">
          <p class="info time">
            {{ session.start_time | date: 'EE dd MMMM, hh:mma' }} ~{{
              session.end_time | date: 'hh:mma'
            }}
          </p>
          <p class="title">{{ session.name }}</p>
        </a>
      </li>
    </ul>
  </div>
</section>
