<section class="body_contentsArea back_main">
  <div class="main_titleArea">
    <div class="img_area"><img src="../../assets/img/main_title.png" /></div>
    <div class="supArea">
      <p class="tit1"><em>24</em><sup>th</sup>CardioVascular Summit</p>
      <p class="tit2">April 27-30, 2019</p>
      <p class="tit3">Coex, Seoul, Korea</p>
      <a routerLink="/liveAndVod">Live & VOD</a>
    </div>
  </div>

  <div class="main_tabArea">
    <ul class="circularGram">
      <li class="op1">
        <a routerLink="/faculty/list">
          <div class="img_area">
            <img src="../../assets/img/main_icon01.png" />
          </div>
          <span>Faculty</span>
        </a>
      </li>
      <li class="op2">
        <a href="#">
          <div class="img_area">
            <img src="../../assets/img/main_icon02.png" />
          </div>
          <span>Meeting at a Glance</span>
        </a>
      </li>
      <li class="op3">
        <a routerLink="/eScienceStation">
          <div class="img_area">
            <img src="../../assets/img/main_icon03.png" />
          </div>
          <span>E-Science Station</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="main_viewArea">
    <a
      routerLink="/question/list"
      class="btn btn-primary type_background"
      data-toggle="modal"
      data-target=".bs-example-modal-sm"
    >
      <span>Do you have any questions?</span>
    </a>
    <ul class="boxHalf_widthSpace">
      <li><a routerLink="/interview">Wrap-up Interview</a></li>
      <li><a href="#">Meeting Information</a></li>
      <li><a routerLink="/venueMap/list">Venue Map</a></li>
      <li><a href="#">Sponsors</a></li>
      <li><a href="#">Photo Gallery</a></li>
      <li><a href="#">My TCTAP</a></li>
    </ul>
  </div>
</section>
