<section class="body_contentsArea back_gray">
  <div class="main_titleArea">
    <img src="/assets/img/main_title.png" />
    <div class="supArea">
      <p class="tit1">April 27-30, 2019</p>
      <p class="tit2">Coex, Seoul, Korea</p>
    </div>
    <a href="#" class="linkArea">Live & VOD</a>
  </div>

  <div class="main_tabArea">
    <ul class="lineGram">
      <li>
        <a routerLink="/programs">
          <div class="img_area"><img src="/assets/img/main_icon01.png" /></div>
          <p><span>Program</span></p>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="img_area"><img src="/assets/img/main_icon02.png" /></div>
          <p>
            <span>Meeting<br />at a Glance</span>
          </p>
        </a>
      </li>
      <li>
        <a routerLink="/faculty/list">
          <div class="img_area"><img src="/assets/img/main_icon03.png" /></div>
          <p><span>Faculty</span></p>
        </a>
      </li>
    </ul>
  </div>
  <div class="main_viewArea">
    <a
      href="#"
      class="btn btn-primary type_background"
      data-toggle="modal"
      data-target=".bs-example-modal-sm"
    >
      <em>Real-time Communication</em> <span>Send Your Question</span>
    </a>
    <ul class="boxHalf_widthSpace">
      <li><a routerLink="/eScienceStation">E-Science Station</a></li>
      <li><a routerLink="/interview">Wrap-up Interviews</a></li>
      <li><a routerLink="/meetingInformation">Meeting Information</a></li>
      <li><a routerLink="/venueMap/list">Venue Map</a></li>
      <li><a routerLink="/sponsors">Sponsors</a></li>
      <li><a routerLink="/photoGallery">Photo Gallery</a></li>
    </ul>
  </div>
</section>
