<div class="container p-30">
  <div class="d-inline p-2">
    <a class="text-white" routerLink="/program/list">Program</a>
  </div>
  <div class="d-inline p-2">
    <a class="text-white" routerLink="">Meeting at a Glance</a>
  </div>
  <div class="d-inline p-2">
    <a class="text-white" routerLink="/faculties">Faculty</a>
  </div>
  <div class="d-inline p-2">
    <a class="text-white" routerLink="/eScienceStation">E-Science Station</a>
  </div>
  <div class="d-inline p-2">
    <a class="text-white" routerLink="/vod">Live & VOD</a>
  </div>
</div>
