<div class="container">
  <ng-container *ngFor="let faculty_list of (filteredList | keyvalue)">
    <p class="alert alert-info" style="margin: 10px 0 0">
      {{ faculty_list.key }}
    </p>
    <ul class="list-group">
      <li
        class="list-group-item"
        style="overflow: hidden;"
        *ngFor="let faculty of faculty_list.value"
        routerLink="/faculty/{{ faculty.id }}"
      >
        <img
          src="{{ faculty.profile_url }}"
          style="width: 50px; float: left;"
        />
        <p>{{ faculty.name }}</p>
        <p>{{ faculty.organization }}</p>
        <p>{{ faculty.nation }}</p>
      </li>
    </ul>
  </ng-container>
</div>
