<app-header></app-header>
<router-outlet></router-outlet>
<nav class="bottom_tabArea navbar navbar-default navbar-fixed-bottom">
  <ul class="align_between">
    <li class="home" routerLinkActive="on"><a routerLink="/main">Home</a></li>
    <li class="program" routerLinkActive="on">
      <a routerLink="/program/list"> Program </a>
    </li>
    <li class="search" routerLinkActive="on"><a href="#"> Search </a></li>
    <li class="schedule" routerLinkActive="on"><a href="#"> Schedule </a></li>
    <li class="more" routerLinkActive="on"><a href="/more"> More </a></li>
  </ul>
</nav>
