<section class="body_contentsArea back_gray">
  <div class="inbtn_view">
    <dl>
      <dt>Terry Wallace</dt>
      <dd>Check your schedule.</dd>
    </dl>
    <button class="btn_yellow iconR">
      <span class="arrowR">My TCTAP</span>
    </button>
  </div>

  <div class="group_whiteBoxList">
    <ul class="styleBox">
      <li>
        <a routerLink="/liveAndVod" class="addLeft">
          <span class="icon more_vod"></span>
          <span class="title">Live & VOD</span>
        </a>
      </li>
      <li>
        <a routerLink="/question" class="addLeft">
          <span class="icon more_question"></span>
          <span class="title">Send Question</span>
        </a>
      </li>
    </ul>
    <ul class="styleBox">
      <li>
        <a href="#" class="addLeft">
          <span class="icon more_meet"></span>
          <span class="title">Meeting at a Glance</span>
        </a>
      </li>
      <li>
        <a routerLink="/faculty" class="addLeft">
          <span class="icon more_faculty"></span>
          <span class="title">Faculty</span>
        </a>
      </li>
    </ul>
    <ul class="styleBox">
      <li>
        <a routerLink="/eScienceStation" class="addLeft">
          <span class="icon more_science"></span>
          <span class="title">E-Science Station</span>
        </a>
      </li>
      <li>
        <a routerLink="/interview" class="addLeft">
          <span class="icon more_interview"></span>
          <span class="title">Wrap-up Interviews</span>
        </a>
      </li>
    </ul>
    <ul class="styleBox">
      <li>
        <a href="#" class="addLeft">
          <span class="icon more_info"></span>
          <span class="title">Meeting Information</span>
        </a>
      </li>
      <li>
        <a routerLink="/venueMap" class="addLeft">
          <span class="icon more_map"></span>
          <span class="title">Venue Map</span>
        </a>
      </li>
      <li>
        <a routerLink="/sponsor/list" class="addLeft">
          <span class="icon more_sponsor"></span>
          <span class="title">Sponsors</span>
        </a>
      </li>
      <li>
        <a href="#" class="addLeft">
          <span class="icon more_photo"></span>
          <span class="title">Photo Gallery</span>
        </a>
      </li>
      <li>
        <a href="#" class="addLeft">
          <span class="icon more_notification"></span>
          <span class="title">Notification</span>
        </a>
      </li>
    </ul>
  </div>
</section>
