<ng-container *ngIf="header.show">
  <nav
    class="top_titleArea navbar navbar-default navbar-fixed-top"
    *ngIf="!header.isMain"
  >
    <div class="container">
      <div class="position_left" *ngIf="header.showBackbutton">
        <a (click)="onBackButtonClicked()" class="backLink">back</a>
      </div>
      <h2>{{ header.title }}</h2>
      <div class="position_right">
        <a href="#" class="search" *ngIf="header.showSearchButton">search</a>
      </div>
    </div>
  </nav>
  <nav
    class="top_titleArea navbar navbar-default navbar-fixed-top"
    *ngIf="header.isMain"
  >
    <div class="container">
      <div class="position_left">
        <a routerLink="/login" class="login">login</a>
      </div>
      <h1 class="text-hide">TCTAP 2019</h1>
      <div class="position_right"><a href="#" class="inform">inform</a></div>
    </div>
  </nav>
</ng-container>
