<nav
  class="top_titleArea navbar navbar-default navbar-fixed-top"
  *ngIf="title !== 'main'"
>
  <div class="container">
    <div class="position_left">
      <a (click)="onBackButtonClicked()" class="backLink">back</a>
    </div>
    <h2>{{ title }}</h2>
    <div class="position_right"><a href="#" class="search">search</a></div>
  </div>
</nav>
<nav
  class="top_titleArea navbar navbar-default navbar-fixed-top"
  *ngIf="title === 'main'"
>
  <div class="container">
    <div class="position_left"><a href="#" class="login">login</a></div>
    <h1 class="text-hide">TCTAP 2019</h1>
    <div class="position_right"><a href="#" class="inform">inform</a></div>
  </div>
</nav>
