<section class="body_contentsArea back_gray">
  <ul class="list_default">
    <li class="list_item">
      <a class="fulllink" routerLink="/faculty/list/board">
        <span class="title">Board Members</span>
      </a>
    </li>
    <li class="list_item">
      <a class="fulllink" routerLink="/faculty/list/1">
        <span class="title">International Invited Faculty</span>
      </a>
    </li>
    <li class="list_item">
      <a class="fulllink" routerLink="/faculty/list/2">
        <span class="title">International Faculty of the Year</span>
      </a>
    </li>
    <li class="list_item">
      <a class="fulllink" routerLink="/faculty/list/3">
        <span class="title">Korean Invited Faculty</span>
      </a>
    </li>
    <li class="list_item">
      <a class="fulllink" routerLink="/faculty/list/4">
        <span class="title">Korean Faculty of the Year</span>
      </a>
    </li>
    <li class="list_item">
      <a class="fulllink"> <span class="title">Faculty Commitment</span> </a>
    </li>
  </ul>
</section>
