<section class="body_contentsArea back_gray">
  <div class="navbar_sticky">
    <ul>
      <li
        [class.on]="activeTabIndex === tab.index"
        (click)="onTabClick(tab)"
        *ngFor="let tab of tabList"
      >
        <a>{{ tab.label }}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!hasSessionList"><p>No session running at this moment</p></div>

  <dl class="list_default" *ngIf="hasSessionList">
    <ng-container *ngFor="let group of sessionGroupList">
      <dt class="list_item addRight" (click)="onProgramClick(group)">
        <a class="full"> {{ group.name }} </a>
        <button
          type="button"
          [class.a_open]="!group.show"
          [class.a_close]="group.show"
        >
          open
        </button>
      </dt>
      <dd class="styleList_addRignt" [class.on]="group.show">
        <ul class="styleList">
          <li *ngFor="let session of group.session_list">
            <a routerLink="/programs/{{ session.id }}" class="full">
              <span class="title">{{ session.name }}</span>
              <p class="info time">
                {{ session.start_time | date: 'EE dd MMMM, hh:mma' }} ~
                {{ session.end_time | date: 'hh:mma' }}
              </p>
              <p class="info area">{{ session.room }}</p>
            </a>
            <button type="button" class="bookmark"></button>
          </li>
        </ul>
      </dd>
    </ng-container>
  </dl>
</section>
