<section class="body_contentsArea back_gray">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="icon">
          <a href="http://www.apsc2018.tw/index.php?action=link">
            <img src="/assets/img/APSC2018.jpg" alt="crf" width="100%" />
          </a>
        </div>

        <div class="icon">
          <a href="https://www.nham-conference.com/index.php?event=20&cmd=home">
            <img src="/assets/img/MYLIVE2018.jpg" alt="aict" width="100%"
          /></a>
        </div>

        <div class="icon">
          <a href="http://www.crf.org/tct">
            <img src="/assets/img/TCT.jpg" alt="TCT2018" width="100%"
          /></a>
        </div>

        <div class="icon">
          <a href="http://www.tscimd.org.tw">
            <img src="/assets/img/TTT.jpg" alt="TTT2019" width="100%"
          /></a>
        </div>

        <div class="icon">
          <a href="http://www.hkstent.org/">
            <img src="/assets/img/HKSTENT.jpg" alt="HKSTENT2018" width="100%"
          /></a>
        </div>

        <div class="icon">
          <a href="http://www.citmd.com/">
            <img src="/assets/img/CIT.png" alt="CIT2019" width="100%"
          /></a>
        </div>

        <div class="icon">
          <a href="https://www.nham-conference.com/index.php?event=18&cmd=home">
            <img src="/assets/img/NHAM2018.jpg" alt="MYLIVE2017" width="100%"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
