<section class="body_contentsArea">
  <div id="wrap">
    <div class="view_box">
      <div class="cont">
        <div class="sub">
          Here the most debated issues will be discussed in an interactive way.
          TCTAP 2018 Wrap-up Interviews are 30-minute moderated interview
          sessions in open studio.
          <p></p>
          The purpose of these interviews is to address professional knowledge
          and experience on selected topics in details with world’s leading
          experts in the field of cardiovascular medicine. Distinguished experts
          will provide various aspects of the selected topics and exchange
          lessons learned through open discussions.
          <p></p>
          Participants at TCTAP 2018 are able to watch the interview during the
          meeting not only in designated spots but also via TCTAP Webcast (<a
            href="http://webcast.summitmd.com"
            >webcast.summitmd.com</a
          >) and TCTAP mobile application in real time.
          <p></p>
          The finished interviews will be broadcast on our websites at
          <a href="http://www.summit-tctap.com">www.summit-tctap.com</a>,
          <a href="https://www.youtube.com/CVRFevents"
            >www.youtube.com/CVRFevents</a
          >, <a href="https://webcast.summitmd.com">webcast.summitmd.com</a> and
          TCTAP mobile application.
        </div>
        <p></p>

        <div class="tit">┃Sunday, April 29</div>

        <div class="tbl_b">
          <table
            cellspacing="0"
            border="1"
            summary="Time Schedule"
            class="tbl_type"
          >
            <colgroup>
              <col width="40%x" />
              <col width="30%" />
              <col width="30%" />
            </colgroup>
            <thead>
              <tr>
                <th scope="col" abbr="Date">Topics</th>
                <th scope="col" abbr="Section">Moderators</th>
                <th scope="col" abbr="Section">Interviewees</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="view">
                  <b
                    >Left Main & Non-Left Main Bifurcation PCI:<br />
                    Technique or Concept</b
                  ><br />
                  11:30 AM ~ 12:00 PM
                </td>
                <td class="view">Thierry Lefevre</td>
                <td class="view">
                  David E. Kandzari<br />
                  Yves R. Louvard<br />
                  Duk-Woo Park
                </td>
              </tr>

              <tr>
                <td class="view">
                  <b>DES & New BRS</b><br />
                  2:00 PM ~ 2:30 PM
                </td>
                <td class="view">Patrick W. Serruys</td>
                <td class="view">
                  Takeshi Kimura<br />
                  Tullio Palmerini<br />
                  Chuck Simonton
                </td>
              </tr>

              <tr>
                <td class="view">
                  <b>Role of Coronary Imaging</b><br />
                  4:00 PM ~ 4:30 PM
                </td>
                <td class="view">Gary S. Mintz</td>
                <td class="view">
                  Takashi Akasaka<br />
                  Akiko Maehara<br />
                  Evelyn Regar
                </td>
              </tr>
            </tbody>
          </table>
          <p></p>
        </div>

        <div class="tit">┃Monday, April 30</div>

        <div class="tbl_b">
          <table
            cellspacing="0"
            border="1"
            summary="Time Schedule"
            class="tbl_type"
          >
            <colgroup>
              <col width="40%x" />
              <col width="30%" />
              <col width="30%" />
            </colgroup>
            <thead>
              <tr>
                <th scope="col" abbr="Date">Topics</th>
                <th scope="col" abbr="Section">Moderators</th>
                <th scope="col" abbr="Section">Interviewees</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="view">
                  <b>CTO: To Open or Not to Open<br /></b><br />
                  8:40 AM ~ 9:10 AM
                </td>
                <td class="view">Gerald Werner</td>
                <td class="view">
                  Paul Hsien-Li Kao<br />
                  Seung-Whan Lee<br />
                  Kambis Mashayekhi
                </td>
              </tr>

              <tr>
                <td class="view">
                  <b>TAVR: Current Status and Future Perspectives<br /></b
                  ><br />
                  9:30 AM ~ 10:00 AM
                </td>
                <td class="view">Eberhard Grube</td>
                <td class="view">
                  Vinayak Bapat<br />
                  Owen Christopher Raffel<br />
                  John Graydon Webb
                </td>
              </tr>

              <tr>
                <td class="view">
                  <b
                    >Non-vitamin K antagonist Oral Anticoagulants(NOACs) in
                    Atherosclerotic Cardiovascular Disease</b
                  ><br />
                  10:30 AM ~ 11:00 AM
                </td>
                <td class="view">David J. Cohen</td>
                <td class="view">
                  Dominick J. Angiolillo<br />
                  Tullio Palmerini
                </td>
              </tr>

              <tr>
                <td class="view">
                  <b>PCI vs. CABG in Left Main and MVD</b><br />
                  2:30 PM ~ 3:00 PM
                </td>
                <td class="view">Patrick W. Serruys</td>
                <td class="view">
                  Marie-Claude Morice<br />
                  Seung-Jung Park<br />
                  Gregg W. Stone
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</section>
