<div class="container">
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      routerLink="/faculty/board-list"
      >Board Members</a
    >
    <a
      class="list-group-item list-group-item-action"
      routerLink="/faculty/list/1"
      >International Invited Faculty</a
    >
    <a
      class="list-group-item list-group-item-action"
      routerLink="/faculty/list/2"
      >International Faculty of the Year</a
    >
    <a
      class="list-group-item list-group-item-action"
      routerLink="/faculty/list/3"
      >Korean Invited Faculty</a
    >
    <a
      class="list-group-item list-group-item-action"
      routerLink="/faculty/list/4"
      >Korean Faculty of the Year</a
    >
    <a class="list-group-item list-group-item-action">Faculty Commitment</a>
  </div>
</div>
